@page
@model MascotaFeliz.App.Frontend.Pages.ListaVeterinarioModel
@{
}

<h1>Listado de Veterinarios</h1>
<!--BUSCADOR-->
<form class="buscar">
    <input type="text" placeholder="Buscar.." name="buscar">
    <button type="submit">Buscar</i></button>
</form>    
<!--BUSCADOR FIN-->  
<table class="table">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
    </tr>
    @foreach (var veterinario in Model.listaVeterinarios)
    {
    <tr>
        <td>@veterinario.Id</td>
        <td>@veterinario.Nombres</td>
        <td>@veterinario.Apellidos</td>
        <td>
            <a class="btn btn-primary table-btn" asp-page="./DetallesVeterinarios" asp-route-duenoId="@veterinario.Id">
            Detalle Veterinario
            </a>
            <a class="btn btn-primary table-btn" asp-page="./EditarVeterinarios" asp-route-duenoId="@veterinario.Id">
            Editar Veterinario
            </a>
        </td>
    </tr>   
    }
</table>