@page
@model MascotaFeliz.App.Frontend.Pages.DetallesMascotaModel
@{
}

<div class="container">
    <h4>Detalles de la mascota</h4>
    <div class="row">
        <table class="table table-striped table-hover">
            <div>
                Id: @Model.mascota.Id
            </div>
            <div>
                Nombre: @Model.mascota.Nombre
            </div>
            <div>
                Color: @Model.mascota.Color
            </div>
            <div>
                Especie: @Model.mascota.Especie
            </div>
            <div>
                Raza: @Model.mascota.Raza
            </div>
            <div>
                Dueno: @Model.mascota.Dueno.Nombres @Model.mascota.Dueno.Apellidos
            </div>
            <div>
                Veterinario: @Model.mascota.Veterinario.Nombres @Model.mascota.Veterinario.Apellidos
            </div>
        </table>
    </div>
</div>
<a asp-page=".\ListaMascotas" class="btn btn-secondary">Volver a la lista</a>